body {
  background: linear-gradient(135deg, green,yellow);
}


h1, h5, p, li {
  color:white;
text-align:center;
font size:24px;

#image2 {
border-radius: 80%
}



}
#image1 {
  width: 300px
  position: center
}


}
#image2 {
  width: 300px
}
